<h2>Edit this form</h2>
<%if @post%>
  <%=form_for @post do |f| %>
    <div>
      <%=f.label 'title'%><br>
      <%=f.text_field 'title'%>
    </div>
      <%=f.label 'author'%><br>
      <%=f.text_field 'author'%>
    <div>
      <%=f.label 'text'%><br>
      <%=f.text_area 'text'%>
    </div>
    <div>
      <%=f.submit 'Save'%>
    </div>
  <%end%>
<%end%>
